data/crac/crac-io/crac-io-cse/src/main/resources/com/powsybl/openrao/data/cracio/cse/xsd/crac-document_4_23.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema erstellt mit XMLSpy v2013 rel. 2 sp2 (x64) (http://www.altova.com)-->
<!--
  ~ Copyright (c) 2022, RTE (http://www.rte-france.com)
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this
  ~ file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->
<!-- Version 4 release 23 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ecc="etso-core-cmpts.xsd">
	<xsd:import namespace="etso-core-cmpts.xsd" schemaLocation="etso-core-cmpts.xsd"/>
	<xsd:element name="CRACDocument" type="CRACDocumentType"/>
	<xsd:complexType name="CRACDocumentType">
		<xsd:sequence>
			<xsd:element name="DocumentIdentification" type="ecc:LongIdentificationType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="DocumentVersion" type="ecc:VersionType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="DocumentScenario" type="T_DocumentScenario" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="DocumentType" type="ecc:MessageType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ProcessType" type="ecc:ProcessType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="SenderIdentification" type="ecc:PartyType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="SenderRole" type="ecc:RoleType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ReceiverIdentification" type="ecc:PartyType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ReceiverRole" type="ecc:RoleType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="CreationDateTime" type="ecc:MessageDateTimeType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="TimeInterval" type="ecc:TimeIntervalType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Domain" type="ecc:AreaType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="CRACSeries" type="T_CRACSeries" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="DtdVersion" type="xsd:string" use="required"/>
		<xsd:attribute name="DtdRelease" type="xsd:string" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_DocumentScenario">
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Transit"/>
					<xsd:enumeration value="Import"/>
					<xsd:enumeration value="Export"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_CRACSeries">
		<xsd:sequence>
			<xsd:element name="Outages" type="T_Outages" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RemedialActions" type="T_RemedialActions" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="CriticalBranches" type="T_CriticalBranches" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="AdditionalConstraints" type="T_AdditionalConstraints" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="CostlyRemedialActions" type="T_CostlyRemedialActions" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="MonitoredElements" type="T_MonitoredElements" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_Outages">
		<xsd:sequence>
			<xsd:element name="Outage" type="T_Outage" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_Outage">
		<xsd:sequence minOccurs="0">
			<xsd:element name="Name" type="T_Name" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Branch" type="T_Branch" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="v" type="xsd:string"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_Branch">
		<xsd:sequence>
			<xsd:element name="Name" type="T_Name" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="EIC" type="T_EIC" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="AlwaysSelected" type="T_Boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="FromNode" type="T_NodeName" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ToNode" type="T_NodeName" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Order" type="T_Order" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Status" type="T_StatusType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ImaxAfterOutage" type="T_Imax" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ImaxAfterSPS" type="T_Imax" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ImaxAfterCRA" type="T_Imax" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Imax" type="T_Imax" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="IlimitMNE_AfterOutage" type="T_Imax" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="IlimitMNE_AfterSPS" type="T_Imax" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="IlimitMNE_AfterCRA" type="T_Imax" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="IlimitMNE" type="T_Imax" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Vn" type="T_Vn" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="minMargin" type="T_minMargin" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Direction" type="T_Direction" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Selected" type="T_Boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Sensitivity" type="T_Percent" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="PTDFListRef" type="T_PTDFList" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RemedialActions" type="T_RemedialActions" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_Name">
		<xsd:attribute name="v" type="xsd:string" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_EIC">
		<xsd:attribute name="v" type="xsd:string" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_NodeName">
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value=".{6}\d[' '-~]"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_Order">
		<xsd:attribute name="v" type="xsd:byte" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_StatusType">
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="OPEN"/>
					<xsd:enumeration value="CLOSE"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_Percent">
		<xsd:attribute name="v" type="T_Range" use="required"/>
		<xsd:attribute name="unit" type="T_Pct" use="optional"/>
	</xsd:complexType>
	<xsd:simpleType name="T_Pct">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Pct"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="T_Range">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="-100.00"/>
			<xsd:maxInclusive value="100.00"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_PTDFList">
		<xsd:sequence>
			<xsd:element name="PTDF" type="T_PTDF" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_PTDF">
		<xsd:sequence>
			<xsd:element name="Factor" type="T_Factor" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="State" type="T_State" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Country" type="T_Country" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ControlBlock" type="T_ControlBlock" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_Factor">
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:decimal">
					<xsd:minInclusive value="-100.00"/>
					<xsd:maxInclusive value="100.00"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="unit" use="optional">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Pct"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_State">
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="BaseCase"/>
					<xsd:enumeration value="AfterOutage"/>
					<xsd:enumeration value="AfterSPS"/>
					<xsd:enumeration value="AfterCRA"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_Country">
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="AT"/>
					<xsd:enumeration value="CH"/>
					<xsd:enumeration value="FR"/>
					<xsd:enumeration value="SI"/>
					<xsd:enumeration value="IT"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_ControlBlock">
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="SHB"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_Imax">
		<xsd:attribute name="v" type="xsd:short" use="required"/>
		<xsd:attribute name="unit" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Pct"/>
					<xsd:enumeration value="A"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_Vn">
		<xsd:attribute name="v" type="xsd:short" use="required"/>
		<xsd:attribute name="unit" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="kV"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_minMargin">
		<xsd:attribute name="v" type="xsd:short" use="required"/>
		<xsd:attribute name="unit" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Pct"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_Direction">
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="BIDIR"/>
					<xsd:enumeration value="DIRECT"/>
					<xsd:enumeration value="OPPOSITE"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_RemedialActions">
		<xsd:choice>
			<xsd:element name="Name" type="T_Name" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="RemedialAction" type="T_RemedialAction" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:choice>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_RemedialAction">
		<xsd:sequence>
			<xsd:element name="Name" type="T_Name" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="TimeInterval" type="ecc:TimeIntervalType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Operator" type="ecc:IdentificationType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Application" type="T_Application" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="SharedWith" type="T_SharedWith" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="BusBar" type="T_BusBar" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Generation" type="T_Generation" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Load" type="T_Load" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="PstRange" type="T_PstRange" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Status" type="T_Status" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="HVDCRange" type="T_HVDCRange" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_Application">
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="CURATIVE"/>
					<xsd:enumeration value="PREVENTIVE"/>
					<xsd:enumeration value="SPS"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_SharedWith">
		<xsd:attribute name="v" type="xsd:string" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_BusBar">
		<xsd:sequence>
			<xsd:element name="InitialNode" type="T_NodeName" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="FinalNode" type="T_NodeName" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Branch" type="T_Branch" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_Generation">
		<xsd:sequence>
			<xsd:element name="Node" type="T_Node" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_Node">
		<xsd:sequence>
			<xsd:element name="Name" type="T_NodeName" minOccurs="1" maxOccurs="1"/>
			<!-- V2: replaced: T_Name -->
			<xsd:element name="VariationType" type="T_VariationType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Value" type="T_Value" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_VariationType">
		<xsd:attribute name="v" type="xsd:string" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_Value">
		<xsd:attribute name="v" type="xsd:short" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_Load">
		<xsd:sequence>
			<xsd:element name="Node" type="T_Node" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_PstRange">
		<xsd:sequence>
			<xsd:element name="Branch" type="T_Branch" minOccurs="1" maxOccurs="unbounded"/>
			<xsd:element name="VariationType" type="T_VariationType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Min" type="T_MinMax" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Max" type="T_MinMax" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_MinMax">
		<xsd:attribute name="v" type="xsd:short" use="required"/>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_Status">
		<xsd:sequence>
			<xsd:element name="Branch" type="T_Branch" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_HVDCRange">
		<xsd:sequence>
			<xsd:element name="HVDCNode" type="T_HVDCNode" minOccurs="1" maxOccurs="unbounded"/>
			<xsd:element name="VariationType" type="T_VariationType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Min" type="T_MinMax" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Max" type="T_MinMax" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_HVDCNode">
		<xsd:sequence>
			<xsd:element name="FromNode" type="T_NodeName" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ToNode" type="T_NodeName" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Order" type="T_Order" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_CriticalBranches">
		<xsd:sequence>
			<xsd:element name="BaseCaseBranches" type="T_BaseCaseBranches" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="CriticalBranch" type="T_CriticalBranch" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_CriticalBranch">
		<xsd:sequence>
			<xsd:element name="TimeInterval" type="ecc:TimeIntervalType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Outage" type="T_Outage" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Branch" type="T_Branch" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_BaseCaseBranches">
		<xsd:sequence>
			<xsd:element name="TimeInterval" type="ecc:TimeIntervalType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Branch" type="T_Branch" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_CostlyRemedialActions">
		<xsd:sequence>
			<xsd:element name="UpwardMargin" type="T_UDMargin" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="DownwardMargin" type="T_UDMargin" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_UDMargin">
		<xsd:sequence>
			<xsd:element name="Operator" type="ecc:IdentificationType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="TimeInterval" type="ecc:TimeIntervalType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Margin" type="T_Margin" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_Margin">
		<xsd:attribute name="v" type="xsd:short" use="required"/>
		<xsd:attribute name="unit" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="MW"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<!--______T_MonitoredElements___________________________________________-->
	<xsd:complexType name="T_MonitoredElements">
		<xsd:sequence>
			<xsd:element name="MonitoredElement" type="T_MonitoredElement" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_MonitoredElement">
		<xsd:sequence>
			<xsd:element name="TimeInterval" type="ecc:TimeIntervalType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Branch" type="T_Branch" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_AdditionalConstraints">
		<xsd:sequence>
			<xsd:element name="AdditionalConstraint" type="T_AdditionalConstraint" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_AdditionalConstraint">
		<xsd:sequence>
			<xsd:element name="Name" type="T_Name" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="TimeInterval" type="ecc:TimeIntervalType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="MaximumTTC" type="T_MinMax" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Type" type="T_AdditionalConstraintType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_AdditionalConstraintType">
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:integer">
					<xsd:enumeration value="0"/>
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="2"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<!--_________________________________________________-->
	<xsd:complexType name="T_Boolean">
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="true|false"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>
