data/refprog/refprog-xml-importer/src/main/resources/xsd/publication-document-v2r0_FlowBased_v03.xsd

<?xml version="1.0" encoding="UTF-8"?> <!-- UNI-LT CCt adaptation: ReceiverCategory added for timestamp code. Version increased to flowbased_v03 (from v02) -->
<xsd:schema xmlns:ecc="etso-core-cmpts.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" ecc:VersionRelease="7.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:import namespace="etso-core-cmpts.xsd" schemaLocation="etso-core-cmpts.xsd" />
    <!-- ETSO Document Automatically generated from a UML class diagram using XMI. Generation tool version 1.7 -->
    <xsd:complexType name="Interval_Type">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Pos" type="ecc:PositionType">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Qty" minOccurs="0" maxOccurs="1" type="ecc:QuantityType">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Price" minOccurs="0" maxOccurs="1" type="ecc:AmountType">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="Reason" type="Reason_Type" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Period_Type">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="TimeInterval" type="ecc:TimeIntervalType">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Resolution" type="ecc:ResolutionType">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="Interval" type="Interval_Type" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PublicationTimeSeries_Type">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="TimeSeriesIdentification" type="ecc:IdentificationType">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AllocationIdentification" minOccurs="0" maxOccurs="1" type="ecc:IdentificationType">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AllocationType" minOccurs="0" maxOccurs="1" type="ecc:AuctionType">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="BusinessType" type="ecc:BusinessType">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="InArea" type="ecc:AreaType">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="OutArea" type="ecc:AreaType">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ContractType" minOccurs="0" maxOccurs="1" type="ecc:ContractType">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="MeasureUnitQuantity" minOccurs="0" maxOccurs="1" type="ecc:UnitOfMeasureType">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Currency" minOccurs="0" maxOccurs="1" type="ecc:CurrencyType">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="MeasureUnitPrice" minOccurs="0" maxOccurs="1" type="ecc:UnitOfMeasureType">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ClassificationCategory" minOccurs="0" maxOccurs="1" type="ecc:CategoryType">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ClassificationSequence" minOccurs="0" maxOccurs="1" type="ecc:VersionType">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ParticipantNumber" minOccurs="0" maxOccurs="1" type="ecc:QuantityType">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ParticipantWinnerNumber" minOccurs="0" maxOccurs="1" type="ecc:QuantityType">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="Period" type="Period_Type" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="Reason" type="Reason_Type" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="PublicationDocument">
        <xsd:complexType>
            <xsd:annotation>
                <xsd:documentation></xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
                <xsd:element name="DocumentIdentification" type="ecc:IdentificationType">
                    <xsd:annotation>
                        <xsd:documentation></xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DocumentVersion" type="PubDocVersionType">
                    <xsd:annotation>
                        <xsd:documentation></xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DocumentType" type="ecc:MessageType">
                    <xsd:annotation>
                        <xsd:documentation></xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ProcessType" minOccurs="0" maxOccurs="1" type="ecc:ProcessType">
                    <xsd:annotation>
                        <xsd:documentation></xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="SenderIdentification" type="ecc:PartyType">
                    <xsd:annotation>
                        <xsd:documentation></xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="SenderRole" type="ecc:RoleType">
                    <xsd:annotation>
                        <xsd:documentation></xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ReceiverIdentification" minOccurs="0" maxOccurs="1" type="ecc:PartyType">
                    <xsd:annotation>
                        <xsd:documentation></xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ReceiverRole" minOccurs="0" maxOccurs="1" type="ecc:RoleType">
                    <xsd:annotation>
                        <xsd:documentation></xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ReceiverCategory" type="ecc:CodeType" minOccurs="0" maxOccurs="1">  <!-- Added. Optional. CodeType = string with max length 3 -->
                    <xsd:annotation>
                        <xsd:documentation></xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="CreationDateTime" type="ecc:MessageDateTimeType">
                    <xsd:annotation>
                        <xsd:documentation></xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="PublicationTimeInterval" type="ecc:TimeIntervalType">
                    <xsd:annotation>
                        <xsd:documentation></xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Domain" minOccurs="0" maxOccurs="1" type="ecc:AreaType">
                    <xsd:annotation>
                        <xsd:documentation></xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <!-- updated for Flow Based project - originally mandatory Time Series made optional so that only header could be present in exceptional situations -->
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="PublicationTimeSeries" type="PublicationTimeSeries_Type" />
            </xsd:sequence>
            <xsd:attribute name="DtdVersion" type="xsd:string" use="required" />
            <xsd:attribute name="DtdRelease" type="xsd:string" use="required" />
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="Reason_Type">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ReasonCode" type="ecc:ReasonCodeType">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ReasonText" minOccurs="0" maxOccurs="1" type="ecc:ReasonTextType">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PubDocVersionType">
        <xsd:annotation>
            <xsd:documentation>
                Publication Document can have zeroed version number
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="v" use="required">
            <xsd:simpleType>
                <xsd:restriction base="xsd:integer">
                    <xsd:minInclusive value="0"/>
                    <xsd:maxInclusive value="999"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>