data/crac-creation/crac-creator-fb-constraint/src/main/resources/xsd/validation/flowbasedconstraintdocument-11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ecc="etso-core-cmpts.xsd" xmlns:fb="flowbased" targetNamespace="flowbased" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <import namespace="etso-core-cmpts.xsd" schemaLocation="../etso-core-cmpts.xsd"/>
    <element name="FlowBasedConstraintDocument">
        <complexType>
            <sequence>
                <element name="DocumentIdentification" type="ecc:IdentificationType"/>
                <element name="DocumentVersion" type="ecc:VersionType"/>
                <element name="DocumentType" type="ecc:MessageType"/>
                <element name="ProcessType" type="ecc:ProcessType"/>
                <element name="SenderIdentification" type="ecc:PartyType"/>
                <element name="SenderRole" type="ecc:RoleType"/>
                <element name="ReceiverIdentification" type="ecc:PartyType"/>
                <element name="ReceiverRole" type="ecc:RoleType"/>
                <element name="CreationDateTime" type="ecc:MessageDateTimeType"/>
                <element name="ConstraintTimeInterval" type="ecc:TimeIntervalType"/>
                <element name="Domain" type="ecc:AreaType"/>
                <element name="criticalBranches" type="fb:CriticalBranchesType" minOccurs="0"/>
                <element name="complexVariants" type="fb:complexVariantsType" minOccurs="0"/>
            </sequence>
            <attribute name="DtdVersion" type="string" use="required"/>
            <attribute name="DtdRelease" type="string" use="required"/>
        </complexType>
    </element>
    <complexType name="CriticalBranchesType">
        <sequence>
            <element name="criticalBranch" type="fb:criticalBranchType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    <complexType name="complexVariantsType">
        <sequence>
            <element name="complexVariant" type="fb:independant_complexVariant" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    <simpleType name="hour">
        <restriction base="string">
            <pattern value="([01][0-9]|2[0-3]):([0-5][0-9])"/>
        </restriction>
    </simpleType>
    <simpleType name="nonEmptyString">
        <restriction base="string">
            <minLength value="1"/>
        </restriction>
    </simpleType>
    <simpleType name="idString">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="200"/>
        </restriction>
    </simpleType>
    <simpleType name="eicString">
        <restriction base="string">
            <minLength value="1"/>
            <maxLength value="16"/>
        </restriction>
    </simpleType>
    <simpleType name="country_2">
        <restriction base="string">
            <pattern value="[A-Z]{2}"/>
        </restriction>
    </simpleType>
    <complexType name="tso_type">
        <simpleContent>
            <extension base="fb:tso_code">
                <attribute name="id" use="optional"/>
            </extension>
        </simpleContent>
    </complexType>
    <simpleType name="tso_code">
        <restriction base="string">
            <pattern value="[A-Z0-9]{2}"/>
        </restriction>
    </simpleType>
    <simpleType name="emptyString">
        <restriction base="string">
            <enumeration value=""/>
        </restriction>
    </simpleType>
    <simpleType name="perUnit">
        <restriction base="decimal">
            <minInclusive value="0"/>
            <maxInclusive value="1"/>
        </restriction>
    </simpleType>
    <simpleType name="perUnitUnlimited">
        <restriction base="decimal">
            <minInclusive value="0"/>
        </restriction>
    </simpleType>
    <simpleType name="nodeType">
        <restriction base="string">
            <pattern value=".{6}\d(\p{L}|\d| )?"/>
        </restriction>
    </simpleType>
    <simpleType name="Date">
        <restriction base="string">
            <pattern value="\d{4}/(0[1-9]|1[012])/(0[1-9]|[12][0-9]|3[01])"/>
        </restriction>
    </simpleType>
    <simpleType name="DateTime">
        <restriction base="string">
            <pattern value="\d{4}/(0[1-9]|1[012])/(0[1-9]|[12][0-9]|3[01]) ([01][0-9]|2[0-3]):([0-5][0-9])"/>
        </restriction>
    </simpleType>
    <simpleType name="TypeAction">
        <restriction base="string">
            <enumeration value="PREVENTIVE"/>
            <enumeration value="CURATIVE"/>
        </restriction>
    </simpleType>
    <complexType name="branch">
        <attribute name="id" type="fb:idString" use="optional"/>
        <attribute name="from" type="fb:nodeType" use="required"/>
        <attribute name="to" type="fb:nodeType" use="required"/>
        <attribute name="order" use="optional">
            <simpleType>
                <restriction base="string">
                    <pattern value="[1-9]|[A-Z]"/>
                </restriction>
            </simpleType>
        </attribute>
        <attribute name="elementName" type="fb:nonEmptyString" use="optional"/>
        <attribute name="publicationName" type="fb:nonEmptyString" use="optional"/> <!-- Transparency Update - Publication Name for CB -->
        <attribute name="eic" type="fb:eicString" use="optional"/> <!-- Transparency Update - EIC for CB -->
    </complexType>
    <complexType name="outagedBranch">
        <attribute name="id" type="fb:idString" use="optional"/>
        <attribute name="from" type="fb:nodeType" use="required"/>
        <attribute name="to" type="fb:nodeType" use="required"/>
        <attribute name="order" use="optional">
            <simpleType>
                <restriction base="string">
                    <pattern value="[1-9]|[A-Z]"/>
                </restriction>
            </simpleType>
        </attribute>
        <attribute name="elementName" type="fb:nonEmptyString" use="optional"/>
    </complexType>
    <complexType name="outageType">
        <sequence>
            <element name="branch" type="fb:outagedBranch" minOccurs="0" maxOccurs="unbounded">
                <key name="outageBranch__order_OR_elementName">
                    <selector xpath="."/>
                    <field xpath="@order|@elementName"/>
                </key>
            </element>
            <element name="load" minOccurs="0" maxOccurs="unbounded">
                <complexType>
                    <attribute name="id" type="fb:idString" use="optional"/>
                    <attribute name="name" type="fb:nodeType" use="required"/>
                </complexType>
            </element>
            <element name="node" minOccurs="0" maxOccurs="unbounded">
                <complexType>
                    <attribute name="id" type="fb:idString" use="optional"/>
                    <attribute name="name" type="fb:nodeType" use="required"/>
                </complexType>
            </element>
            <element name="generation" minOccurs="0" maxOccurs="unbounded">
                <complexType>
                    <attribute name="id" type="fb:idString" use="optional"/>
                    <attribute name="name" type="fb:nodeType" use="required"/>
                </complexType>
            </element>
            <element name="hvdc" minOccurs="0" maxOccurs="unbounded">
                <complexType>
                    <attribute name="from" type="fb:nodeType" use="required"/>
                    <attribute name="to" type="fb:nodeType" use="required"/>
                    <attribute name="idfrom" type="fb:idString" use="optional"/>
                    <attribute name="idto" type="fb:idString" use="optional"/>
                    <attribute name="name" type="fb:nonEmptyString" use="optional"/>
                    <attribute name="id" type="fb:idString" use="optional"/>
                </complexType>
            </element>
            <element name="hvdcVH" minOccurs="0"
                     maxOccurs="unbounded"> <!-- new HVDC virtual hub outage type introduced with Alegro cable implementation -->
                <complexType>
                    <attribute name="from" type="fb:nodeType" use="required"/>
                    <attribute name="to" type="fb:nodeType" use="required"/>
                    <attribute name="idfrom" type="fb:idString" use="optional"/>
                    <attribute name="idto" type="fb:idString" use="optional"/>
                    <attribute name="name" type="fb:nonEmptyString" use="optional"/>
                    <attribute name="id" type="fb:idString" use="optional"/>
                </complexType>
            </element>
        </sequence>
        <attribute name="name" type="fb:nonEmptyString" use="optional"/>
        <attribute name="id" type="fb:idString" use="optional"/>
        <attribute name="publicationName" type="fb:nonEmptyString" use="optional"/> <!-- Transparency Update - Publication Name for CO -->
        <attribute name="eic" type="fb:eicString" use="optional"/> <!-- Transparency Update - EIC for CO -->
    </complexType>
    <complexType name="criticalBranchType">
        <sequence>
            <choice minOccurs="1" maxOccurs="1">
                <element name="time">
                    <complexType>
                        <attribute name="v" type="dateTime"/>
                    </complexType>
                </element>
                <element name="timeInterval" type="ecc:TimeIntervalType"/>
            </choice>
            <element name="branch" type="fb:branch" minOccurs="0">
                <key name="criticalBranch__order_OR_elementName">
                    <selector xpath="."/>
                    <field xpath="@order|@elementName"/>
                </key>
            </element>
            <choice minOccurs="0">
                <element name="imaxA" type="float"/>
                <element name="imaxFactor" type="fb:perUnitUnlimited"/>
            </choice>
            <element name="frmMw" type="float"/>
            <element name="FAV" type="float" minOccurs="0"/>
            <element name="FAVJustification" type="string" minOccurs="0"/>
            <element name="MinRAMFactor"  minOccurs="0">
                <simpleType>
                    <restriction base="int">
                        <minInclusive value="0" />
                        <maxInclusive value="70" />
                    </restriction>
                </simpleType>
            </element>
            <element name="MinRAMFactorJustification" type="string" minOccurs="0"/>
            <element name="AMRExclusion" type="boolean" minOccurs="0"/>
            <element name="AMRExclusionJustification" type="string" minOccurs="0"/>
            <element name="direction" minOccurs="1" maxOccurs="1">
                <simpleType>
                    <restriction base="string">
                        <enumeration value="DIRECT"/>
                        <enumeration value="OPPOSITE"/>
                        <enumeration value="MONODIR"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="tsoOrigin" type="fb:tso_type" minOccurs="1" maxOccurs="1"/>
            <element name="outage" type="fb:outageType" minOccurs="0"/>
            <element name="complexVariantId" type="string" minOccurs="0"/>
        </sequence>
        <attribute name="name" type="fb:nonEmptyString"/>
        <attribute name="version" type="integer" use="required"/>
        <attribute name="threshold" type="string"/>
        <attribute name="duration" type="integer"/>
        <attribute name="blackflag" type="boolean"/>
        <attribute name="id" type="fb:idString" use="optional"/>
    </complexType>
    <complexType name="complexVariantType">
        <sequence>
            <element name="actionsSet" type="fb:actionsSetType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="name" type="fb:nonEmptyString" use="optional"/>
        <attribute name="id" type="fb:idString" use="optional"/>
    </complexType>
    <complexType name="actionsSetType">
        <sequence>
            <element name="action" type="fb:actionType" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="name" type="fb:nonEmptyString" use="optional"/>
        <attribute name="id" type="fb:idString" use="optional"/>
        <attribute name="type" type="fb:TypeAction" use="optional"/>
    </complexType>
    <complexType name="actionType" mixed="true">
        <all>
            <element name="branch" type="fb:branch" minOccurs="0">
                <key name="actionBranch__order_OR_elementName">
                    <selector xpath="."/>
                    <field xpath="@order|@elementName"/>
                </key>
            </element>
            <element name="generation" minOccurs="0">
                <complexType>
                    <attribute name="id" type="fb:idString" use="optional"/>
                    <attribute name="name" type="fb:nodeType" use="required"/>
                </complexType>
            </element>
            <element name="load" minOccurs="0">
                <complexType>
                    <attribute name="id" type="fb:idString" use="optional"/>
                    <attribute name="name" type="fb:nodeType" use="required"/>
                </complexType>
            </element>
            <element name="hub1" type="fb:country_2" minOccurs="0"/>
            <element name="hub2" type="fb:country_2" minOccurs="0"/>
            <element name="from" type="fb:country_2" minOccurs="0"/>
            <element name="to" type="fb:country_2" minOccurs="0"/>
            <element name="variation" minOccurs="0">
                <simpleType>
                    <restriction base="string">
                        <enumeration value="ABSOLUTE"/>
                        <enumeration value="RELATIVE"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="ExchangeType" minOccurs="0">
                <simpleType>
                    <restriction base="string">
                        <enumeration value="ABSOLUTE"/>
                        <enumeration value="RELATIVE"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="constraint" minOccurs="0">
                <simpleType>
                    <restriction base="string">
                        <enumeration value="WORSEN"/>
                        <enumeration value="ALLEVIATE"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="value" type="fb:nonEmptyString" minOccurs="0"/>
            <element name="newFrom" type="fb:nodeType" minOccurs="0"/>
            <element name="newTo" type="fb:nodeType" minOccurs="0"/>
        </all>
        <attribute name="name" type="fb:nonEmptyString" use="optional"/>
        <attribute name="id" type="fb:idString" use="optional"/>
        <attribute name="type" use="required">
            <simpleType>
                <restriction base="string">
                    <enumeration value="STATUS"/>
                    <enumeration value="STOPTURBINES"/>
                    <enumeration value="STOPPUMPS"/>
                    <enumeration value="GENERATION"/>
                    <enumeration value="LOAD"/>
                    <enumeration value="PSTTAP"/>
                    <enumeration value="BUSBAR"/>
                    <enumeration value="EXCHANGE"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    <complexType name="independant_complexVariant">
        <sequence>
            <element name="actionsSet" type="fb:actionsSetType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="id" type="fb:idString" use="required"/>
        <attribute name="name" type="fb:nonEmptyString"/>
    </complexType>
    <complexType name="constrList">
        <sequence>
            <element name="criticalBranch" type="fb:criticalBranchType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="complexVariant" type="fb:independant_complexVariant" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="creationDate" type="fb:DateTime" use="optional"/>
        <attribute name="date" type="fb:Date"/>
    </complexType>
</schema>
