data/rao-result/rao-result-io/rao-result-cne/swe-cne-exporter/src/main/resources/xsd/urn-entsoe-eu-local-extension-types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ecl="urn:entsoe.eu:wgedi:codelists" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:simpleType name="LocalAllocationModeType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalAnalogType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalAssetType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalAuctionType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalBusinessType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalCategoryType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalClassificationType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalCodingSchemeType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalCoordinateSystemType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalContractType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalCurrencyType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="BAM" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalCurveType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalDirectionType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalEicType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalEnergyProductType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="8716867000016" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalHVDCModeType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalIndicatorType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalMarketProductType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalMessageType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalObjectAggregationType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalPaymentTermsType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalPriceCategoryType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalPriceDirectionType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalProcessType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalQualityType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalReasonCodeType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="999" />
      <xsd:enumeration value="A01"/>
      <xsd:enumeration value="Z01">
        <xsd:annotation>
          <xsd:documentation>
            <CodeDescription>
              <Title>RegisteredResource not found in the IGM</Title>
              <Definition>RegisteredResource not found in the IGM. Removed for further processing</Definition>
            </CodeDescription>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z02">
        <xsd:annotation>
          <xsd:documentation>
            <CodeDescription>
              <Title>Contingency_Series not found in the Co Dictionary</Title>
              <Definition>Contingency_Series not found in the Co Dictionary. Removed for further processing</Definition>
            </CodeDescription>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z03">
        <xsd:annotation>
          <xsd:documentation>
            <CodeDescription>
              <Title>Overload</Title>
              <Definition>N-k or N state overload</Definition>
            </CodeDescription>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z04">
        <xsd:annotation>
          <xsd:documentation>
            <CodeDescription>
              <Title>GLSK limitation</Title>
              <Definition>GLSK limitation</Definition>
            </CodeDescription>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z05">
        <xsd:annotation>
          <xsd:documentation>
            <CodeDescription>
              <Title>Voltage constraint</Title>
              <Definition>N-k or N state voltage violation</Definition>
            </CodeDescription>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z06">
        <xsd:annotation>
          <xsd:documentation>
            <CodeDescription>
              <Title>Angle constraint</Title>
              <Definition>N-k or N state angle violation</Definition>
            </CodeDescription>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z07">
        <xsd:annotation>
          <xsd:documentation>
            <CodeDescription>
              <Title>Stability</Title>
              <Definition>Dynamic behaviour of the network violated</Definition>
            </CodeDescription>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z08">
        <xsd:annotation>
          <xsd:documentation>
            <CodeDescription>
              <Title>Loadflow divergence</Title>
              <Definition>Loadflow divergence</Definition>
            </CodeDescription>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z09">
        <xsd:annotation>
          <xsd:documentation>
            <CodeDescription>
              <Title>Unplanned outage</Title>
              <Definition>Unplanned outage</Definition>
            </CodeDescription>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z10">
        <xsd:annotation>
          <xsd:documentation>
            <CodeDescription>
              <Title>Change in the generation profile</Title>
              <Definition>Change in the generation profile</Definition>
            </CodeDescription>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z11">
        <xsd:annotation>
          <xsd:documentation>
            <CodeDescription>
              <Title>Change in the load profile</Title>
              <Definition>Change in the load profile</Definition>
            </CodeDescription>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z12">
        <xsd:annotation>
          <xsd:documentation>
            <CodeDescription>
              <Title>Uncomplete CRAC</Title>
              <Definition>Uncomplete CRAC</Definition>
            </CodeDescription>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z13">
        <xsd:annotation>
          <xsd:documentation>
            <CodeDescription>
              <Title>Secure network situation</Title>
              <Definition>The network situation is secure</Definition>
            </CodeDescription>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z14">
        <xsd:annotation>
          <xsd:documentation>
            <CodeDescription>
              <Title>No limiting element found</Title>
              <Definition>No limiting element found</Definition>
            </CodeDescription>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z15">
        <xsd:annotation>
          <xsd:documentation>
            <CodeDescription>
              <Title>N-state overload</Title>
              <Definition>N-state overload</Definition>
            </CodeDescription>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z16">
        <xsd:annotation>
          <xsd:documentation>
            <CodeDescription>
              <Title>No secure TTC found</Title>
              <Definition>No secure TTC found</Definition>
            </CodeDescription>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalRightsType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalRoleType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalStatusType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01" />
      <xsd:enumeration value="Z01">
        <xsd:annotation>
          <xsd:documentation>
            <CodeDescription>
              <Title>For flow optimisation</Title>
              <Definition>The Series will be used during the flow optimisation step</Definition>
            </CodeDescription>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z02">
        <xsd:annotation>
          <xsd:documentation>
            <CodeDescription>
              <Title>For voltage optimisation</Title>
              <Definition>The Series will be used during the voltage optimisation step</Definition>
            </CodeDescription>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Z03">
        <xsd:annotation>
          <xsd:documentation>
            <CodeDescription>
              <Title>For flow optimization</Title>
              <Definition>Describes an element which needs to be optimized by a flow optimization process.</Definition>
            </CodeDescription>
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalTarifTypeType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalUnitMultiplier">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalUnitOfMeasureType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A59"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalUnitSymbol">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="AMP"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LocalDocumentType">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="A01"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
